<header>
    <div class="conatiner">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="#">Login/Register</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                    <!--<li class="nav-item active">
                        <a class="nav-link text-white bg-dark" routerLink="">Home <span class="sr-only">(current)</span></a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark" routerLink="/login">Log-in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bg-dark" routerLink="">Register</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link text-white bg-dark" routerLink="">Log-out</a>
                    </li>-->
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <form [formGroup]="userform" class="form-signin" (submit)='senddata()'>
        <div class="row mt-5">
            <div class="col-lg-12 mt-2">
                <div class="form-group">
                    <label for="">Enter The Random Number</label>
                    <input type="text" formControlName="lastName" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="col-lg-12 mt-2">
                <div class="form-group">
                    <label for="">Enter Your Email</label>
                    <input type="text" formControlName="email" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">Enter Your New Password</label>
                    <input type="password" formControlName="password" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" >
                <input type="submit" class="btn btn-primary" value="Change Password">
            </div>
        </div>
    </form>
</div>